:root{
    /* COLORS */
    --primary-color: #e3ab00;
    --primary-tint: #ffde00;
    --primary-tint-2: #fcf9f0;
    --secondary-color: #800000;
    --secondary-tint: #851c1c;
    --tertiary-color: #ffffff;

    /* FONTS */
    --font-family: "Poppins", sans-serif;

}

/* GLOBAL SETTINGS */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    background-color: var(--tertiary-color);
    color: var(--tertiary-color);
}

.container{
    width: 90%;
    margin: 0 auto;
}

h2{
    font-size: 4rem;
    font-weight: 500;
}

h3{
    font-size: 2.5rem;
    color: var(--primary-color);
}

p{
    font-size: 1.6rem;
    margin-bottom: 4rem;
    color: var(--secondary-color);
    font-weight: 700;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--tertiary-color);
}

/* TOP-NAVIGATION-BAR */
.navigation-bar{
    margin-bottom: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6em;
    background-color: var(--secondary-color);
    position: fixed;
    top: 0px;
    width: 100%;
}

.navigation-links{
    display: flex;
    gap: 2.5rem;
}

.logo{
    width: 25rem;
}

.navigation-items:hover, .navigation-items:active{
    text-decoration: overline 2px var(--tertiary-color);
    color: var(--tertiary-color);
}

/* BUTTOM-NAVIGATION-BAR */
.bottom-navigation-bar{
    display: none;
}

.nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-bottom: 0px;
   
}

.about{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 15rem;
    padding: 6rem;
    box-shadow: 0px 10px 10px lightgray;
}

.about-heading{
    color: var(--secondary-color);
    font-size: 5rem;
    line-height: 45px;
}

.heading-icon{
    display: flex;
    justify-content:left;
    align-items: center;
    margin-bottom: 2rem;
}

.about-heading-two{
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 3rem;
}


.about-paragraph{
    font-weight: 400;
}

.founder{
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: var(--secondary-color);
    padding: 3rem;
    border-radius: 2rem;
}

.founder-info{
    color: var(--tertiary-color);
    font-weight: 400;
}

/* FOOTER SECTION */
footer{
    background-color: var(--tertiary-color);
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media-links{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 1rem;
    margin-bottom: 1rem;
}
.footer-icons{
    width: 3rem;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;

}

.contact-details{
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 0px;
    font-weight: 400;
}

.footer-navigation-links{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    gap: 1.5rem;
    margin-bottom: 2rem;
}

/* MEDIA-QUERIES */
@media(max-width: 26rem){
    html{
        font-size: 55%;
    }

    .container{
        width: 95%;
    }

    .navigation-links{
        display: none;
    }

    .about{
        padding: 4rem;
    }

    .about-heading{
        font-size: 4rem;
        line-height: 4rem;

    }

    .founder{
        flex-direction: column;
        justify-content: center;
    }

    .fonder-name{
        font-size: 2.5rem;
    }

    .bottom-navigation-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: var(--secondary-color);
        padding: 1.5rem 0px;
        gap: 3.5rem;
    }

    .navigation-icons{
        width: 3rem;
    }

    .navigation-text{
        font-size: 1.1rem;
        color: var(--primary-color);
        font-weight: 400;
        margin-bottom: 0px;
    }
}
