:root{
    /* COLORS */
    --primary-color: #e3ab00;
    --primary-tint: #ffde00;
    --primary-tint-2: #fcf9f0;
    --secondary-color: #800000;
    --secondary-tint: #851c1c;
    --tertiary-color: #ffffff;

    /* FONTS */
    --font-family: "Poppins", sans-serif;

}

/* GLOBAL SETTINGS */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    background-color: var(--tertiary-color);
    color: var(--tertiary-color);
}

.container{
    width: 90%;
    margin: 0 auto;
}

h2{
    font-size: 4rem;
    font-weight: 500;
}

h3{
    font-size: 2.5rem;
    color: var(--primary-color);
}

p{
    font-size: 1.6rem;
    margin-bottom: 4rem;
    color: var(--secondary-color);
    font-weight: 700;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--tertiary-color);
}

/* TOP-NAVIGATION-BAR */
.navigation-bar{
    margin-bottom: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6em;
    background-color: var(--secondary-color);
    position: fixed;
    top: 0px;
    width: 100%;
}

.navigation-links{
    display: flex;
    gap: 2.5rem;
}

.logo{
    width: 25rem;
}

.navigation-items:hover, .navigation-items:active{
    text-decoration: overline 2px var(--tertiary-color);
    color: var(--tertiary-color);
}

/* BUTTOM-NAVIGATION-BAR */
.bottom-navigation-bar{
    display: none;
}

.nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-bottom: 0px;
   
}

/* BTN-COMPONENTS */
.btn{
    padding: 1rem 2rem;
    color: var(--tertiary-color);
}

.btn-register:link, .btn-register:visited{
    background-color: var(--secondary-color);
}

.btn-secondary:link, .btn-secondary:visited{
    background-color: var(--tertiary-color);
    border: solid 2px var(--secondary-color);
    color: var(--secondary-color);
}

/* SERVICES SECTION */
.our-services{
    color: var(--secondary-color);
    grid-column: 1 / span 2;
    font-size: 5rem;
    padding: .5rem;
    border-bottom: 4px solid var(--primary-color);
    border-top: 4px solid var(--primary-color);
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: center; */
    margin-top: 10rem;
}

.image{
    width: 48rem;
    border-radius: 10px;
    border: 10px solid var(--tertiary-color);
    box-shadow: 0px 5px 5px lightgray;
}

.services-heading{
    color: var(--secondary-color);
    font-size: 2.3rem;
    font-weight: 700;
    margin-top: 2rem;
}

.services-paragraph{
    font-weight: 400;
    margin-bottom: 0px;
    font-size: 1.3rem;
}

.all-services-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 4rem;
    margin-bottom: 5rem;
    margin-top: 15rem;
    padding: 6rem;
    box-shadow: 0px 10px 10px lightgray;
    padding-bottom: 15rem;
}

.services-booking-btn{
    width: 15rem;
    padding: 1em 2rem;
    margin-top: 2rem;
}

/* FOOTER SECTION */
footer{
    background-color: var(--tertiary-color);
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media-links{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 1rem;
    margin-bottom: 1rem;
}
.footer-icons{
    width: 3rem;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;

}

.contact-details{
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 0px;
    font-weight: 400;
}

.footer-navigation-links{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    gap: 1.5rem;
    margin-bottom: 2rem;
}


/* MEDIA QUERIES */
@media(max-width: 81rem){
    html{
        font-size: 55%;
    }
    .all-services-container{
        column-gap: 2rem;
    }
}

@media(max-width: 77rem){
    .image{
        width: 45rem;
    }
}

@media(max-width: 64rem){
    .container{
        width: 90%;
    }

    .our-services{
        grid-column: 1 / span 1;
    }
    .all-services-container{
        grid-template-columns: 1fr;
    }

    .image{
        width: 65rem;
    }

    .services-heading{
        font-size: 3rem;
    }

    .services-paragraph{
        font-size: 2rem;
    }

}

@media (max-width: 48rem){
    .navigation-links{
        display: none;
    }

    .container{
        width: 90%;
    }
    .all-services-container{
        grid-template-columns: 1fr;
    }

    .image{
        width: 58rem;
    }
}

@media(max-width: 36rem){
    .navigation-links{
        display: none;
    }

    .image{
        width: 42rem;
    }

    .services-heading{
        font-size: 2.3rem;
    }

    .services-paragraph{
        font-size: 1.8rem;
    }
}

@media(max-width: 26rem){
    html{
        font-size: 55%;
    }

    .container{
        width: 95%;
    }

    .image{
        width: 100%;
    }

    .our-services{
        font-size: 3rem;
    }

    
    .services-paragraph{
        font-size: 1.5rem;
    }

    .service{
        margin-top: 5rem;
    }

    .all-services-container{
        justify-items: center;
        padding: 4rem;
        padding-bottom: 8rem;
        
    }

    footer{
        padding: 10rem 5rem;
    }

    .footer-navigation-links{
        gap: .7rem
    }

    .bottom-navigation-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: var(--secondary-color);
        padding: 1.5rem 0px;
        gap: 3.5rem;
    }

    .navigation-icons{
        width: 3rem;
    }

    .navigation-text{
        font-size: 1.1rem;
        color: var(--primary-color);
        font-weight: 400;
        margin-bottom: 0px;
    }

}

@media(max-width: 24rem){
    .our-services{
        font-size: 3rem;
    }
    .image{
        width: 27rem;
        border: 5px solid var(--tertiary-color);
    }

    .services-paragraph{
        font-size: 1.5rem;
    }

    .service{
        margin-top: 5rem;
    }

    .all-services-container{
        justify-items: center;
        padding: 4rem;
    }

    footer{
        padding: 10rem 5rem;
    }

    .footer-navigation-links{
        gap: .7rem
    }


}