:root{
    /* COLORS */
    --primary-color: #e3ab00;
    --primary-tint: #ffde00;
    --primary-tint-2: #fcf9f0;
    --secondary-color: #800000;
    --secondary-tint: #851c1c;
    --tertiary-color: #ffffff;

    /* FONTS */
    --font-family: "Poppins", sans-serif;

}

/* GLOBAL SETTINGS */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    /* font-weight: 400; */
    font-size: 1.5rem;
    background-color: var(--tertiary-color);
    color: var(--tertiary-color);
}

.container{
    width: 93%;
    margin: 0 auto;
}

h1{
    font-size: 10rem;
    font-weight: 750;
    line-height: 9rem;
    margin-bottom: 1rem;
    font-family: var(--font-family);
    color: var(--secondary-color);
    letter-spacing: -4px;
}

h2{
    font-size: 4rem;
    font-weight: 500;
}

h3{
    font-size: 2.5rem;
    color: var(--primary-color);
}

p{
    font-size: 1.3rem;
    margin-bottom: 4rem;
    color: var(--tertiary-color)
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

/* NAVIGATION-BAR */
.navigation-bar{
    margin-bottom: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6em;
    background-color: var(--tertiary-color);
    border-bottom: 2px solid var(--primary-color);
    position: fixed;
    top: 0px;
    width: 100%;
}

.navigation-links{
    display: flex;
    gap: 2.5rem;
}

.logo{
    width: 20rem;
}

.navigation-items:hover, .navigation-items:active{
    text-decoration: overline 2px var(--secondary-color);
    color: var(--secondary-tint);
}


/* BTN-COMPONENTS */
.btn{
    padding: 1rem 2rem;
    color: var(--tertiary-color);
}

.btn-register:link, .btn-register:visited{
    background-color: var(--secondary-color);
}

.btn-register:hover, .btn-register:active{
    background-color: var(--secondary-tint);
    transition: .8;
}

.btn-secondary:link, .btn-secondary:visited{
    background-color: var(--tertiary-color);
    border: solid 2px var(--secondary-color);
    color: var(--secondary-color);
}

/* HEROE SECTION */
.heroe-section{
    background-color: var(--primary-color);
    background-image: url("images/heroe-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10rem 20rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* FEATURES SECTION */
.features-section{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 15rem;
    gap: 2rem;
}

.lose-weight{
    background-image: url("images/shade-the-weight1.png");
    background-size: 105rem;
    background-size: cover;
    background-position: right;
    padding: 5rem;
    border-radius: 2rem;
    color: var(--tertiary-color);
    background-repeat: no-repeat;
    border: 2px solid var(--primary-color);
    background-color: var(--tertiary-color);
}

.glow{
    background-image: url("images/glow1.png");
    background-size: 105rem;
    background-size: cover;
    background-position: right;
    padding: 5rem;
    border-radius: 2rem;
    color: var(--tertiary-color);
    background-repeat: no-repeat;
    border: 2px solid var(--primary-color);
    background-color: var(--tertiary-color);
}

.feature-card-heading{
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 3.5rem;
}

.feature-card-paragraph{
    color: var(--secondary-color);
}

/* MEDIA QUERIES FOR HEROE SECTION */
@media (max-width: 65rem){
    html{
        font-size: 53%;
    }

    .heroe-paragraph{
        font-size: 1.5rem;
    }

    h1{
        color: var(--secondary-color);
    }
}



@media (max-width: 41rem){
    html{
        font-size: 53%;
    }

    .heroe-paragraph{
        font-size: 1.5rem;
    }

    h1{
        color: var(--secondary-color);
    }

    .heroe-section{
        text-align: center;
        padding: 7rem 10rem;
    }
}



@media (max-width: 30rem){
    html{
        font-size: 53%;
    }

    .heroe-paragraph{
        font-size: 1.5rem;
    }

    h1{
        color: var(--secondary-color);
        font-size: 7rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
    }

    .heroe-section{
        text-align: center;
        padding: 15rem 1rem;
        padding-bottom: 20rem;
        background-image: url("images/bk.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .lose-weight{
        background-image: none;
        background-color: var(--tertiary-color);
        border-radius: 5px;
        text-align: center;
    }

    .glow{
        background-image: none;
        background-color: var(--tertiary-color);
        border-radius: 5px;
        text-align: center;

    }
}

@media (max-width: 26rem){
    html{
        font-size: 53%;
    }

    .heroe-paragraph{
        font-size: 1.5rem;
    }

    h1{
        color: var(--secondary-color);
        font-size: 7rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
    }

    .heroe-section{
        text-align: center;
        padding: 15rem 1rem;
        padding-bottom: 20rem;
        background-image: url("images/bk.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .lose-weight{
        background-image: none;
        background-color: var(--tertiary-color);
        border-radius: 5px;
        text-align: center;
    }

    .glow{
        background-image: none;
        background-color: var(--tertiary-color);
        border-radius: 5px;
        text-align: center;

    }
}
/* 
@media (max-width: 25rem){
    html{
        font-size: 53%;
    }

    .heroe-paragraph{
        font-size: 1.5rem;
    }

    h1{
        color: var(--secondary-color);
        font-size: 7rem;
        line-height: 6rem;
    }

    .heroe-section{
        text-align: center;
        padding: 7rem 1rem;
        background-image: none;
    }
} */












/* FOOTER SECTION */

