:root{
    /* COLORS */
    --primary-color: #e3ab00;
    --primary-tint: #ffde00;
    --primary-tint-2: #fcf9f0;
    --secondary-color: #800000;
    --secondary-tint: #851c1c;
    --tertiary-color: #ffffff;

    /* FONTS */
    --font-family: "Poppins", sans-serif;

}

/* GLOBAL SETTINGS */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    /* font-weight: 400; */
    font-size: 1.5rem;
    background-color: var(--tertiary-color);
    color: var(--tertiary-color);
}

.container{
    width: 93%;
    margin: 0 auto;
}

h1{
    font-size: 10rem;
    font-weight: 750;
    line-height: 9rem;
    margin-bottom: 1rem;
    font-family: var(--font-family);
    color: var(--secondary-color);
    letter-spacing: -4px;
}

.heading-span{
    color: var(--tertiary-color);
}

h2{
    font-size: 4rem;
    font-weight: 500;
}

h3{
    font-size: 2.5rem;
    color: var(--primary-color);
}

p{
    font-size: 1.6rem;
    margin-bottom: 4rem;
    color: var(--secondary-color);
    font-weight: 700;
    
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--tertiary-color);
}

/* TOP-NAVIGATION-BAR */
.navigation-bar{
    margin-bottom: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6em;
    background-color: var(--secondary-color);
    position: fixed;
    top: 0px;
    width: 100%;
}

.navigation-links{
    display: flex;
    gap: 2.5rem;
}

.logo{
    width: 25rem;
}

.navigation-items:hover, .navigation-items:active{
    text-decoration: overline 2px var(--tertiary-color);
    color: var(--tertiary-color);
}

/* BUTTOM-NAVIGATION-BAR */
.bottom-navigation-bar{
    display: none;
}

.nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-bottom: 0px;
   
}


/* BTN-COMPONENTS */
.btn{
    padding: 1rem 2rem;
    color: var(--tertiary-color);
}

.btn-register:link, .btn-register:visited{
    background-color: var(--secondary-color);
}

.btn-register:hover, .btn-register:active{
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
}

.btn-secondary:link, .btn-secondary:visited{
    background-color: var(--tertiary-color);
    border: solid 2px var(--secondary-color);
    color: var(--secondary-color);
}

/* HEROE SECTION */
.heroe-section{
    background-color: var(--primary-color);
    background-image: url("images/heroe-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 15rem 20rem;
    margin-top: 5rem;
    margin-bottom: 13rem;
}

/* FEATURES SECTION */
.features-section{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 15rem;
    gap: 2rem;
}

.heroe-section-card{
    background-size: cover;
    background-position: right;
    padding: 5rem;
    border-radius: 2rem;
    color: var(--tertiary-color);
    background-repeat: no-repeat;
    box-shadow: 0px 1px 10px lightgray;
    background-color: var(--tertiary-color);
}

.lose-weight{
    background-image: url("images/shade-the-weight1.png");
}

.glow{
    background-image: url("images/glow1.png");
}

.skin-tags{
    background-image: url("images/glow1.png");
}

.feature-card-heading{
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
}

.feature-card-paragraph{
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 1.5rem;
}

.icons{
    width: 5rem;
}

.features-section-two-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.features-section-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 13rem;
}

/* FOOTER SECTION */
footer{
    background-color: var(--tertiary-color);
    padding: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media-links{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 1rem;
    margin-bottom: 1rem;
}
.footer-icons{
    width: 3rem;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;

}

.contact-details{
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 0px;
    font-weight: 400;
}

.footer-navigation-links{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer-navigation-items{
    color: var(--primary-color);
    letter-spacing: 1px;
}

.footer-navigation-items:hover{
    text-decoration: underline var(--primary-color);
}

.footer-booking-link{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 2rem;
    font-weight: 70rem;
}

/* MEDIA QUERIES FOR HEROE AND FEATURE SECTION */
@media (max-width: 65rem){
    html{
        font-size: 53%;
    }

    .heroe-paragraph{
        font-size: 1.5rem;
    }

    h1{
        color: var(--secondary-color);
    }
}



@media (max-width: 41rem){
    html{
        font-size: 55%;
    }

    .heroe-paragraph{
        font-size: 1.5rem;
    }

    h1{
        color: var(--secondary-color);
    }

    .heroe-section{
        text-align: center;
        padding: 7rem 10rem;
    }
}

@media (max-width: 30rem){
    html{
        font-size: 55%;
    }

    .heroe-paragraph{
        font-size: 1.5rem;
    }

    h1{
        color: var(--secondary-color);
        font-size: 7rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
    }

    .heroe-section{
        text-align: center;
        padding: 12rem 1rem;
        padding-bottom: 18rem;
        background-image: url("images/bk.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-bottom: 7rem;
    }

    .phone-feature-section{
        background-image: none;
        background-color: var(--tertiary-color);
        border-radius: 5px;
        text-align: center;
    }

    .features-section-two{
        grid-template-columns: 1fr;
    }

    .navigation-links{
        display: none
    }
}

@media (max-width: 26rem){
    html{
        font-size: 55%;
    }

    .paragraph{
        font-size: 1.5rem;
    }

    h1{
        color: var(--secondary-color);
        font-size: 7rem;
        line-height: 6rem;
        letter-spacing: -.2rem;
    }

    .heroe-section{
        text-align: center;
        padding: 12rem 1rem;
        padding-bottom: 18rem;
        background-image: url("images/bk.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-bottom: 7rem;
    }

    .lose-weight{
        background-image: none;
        background-color: var(--tertiary-color);
        border-radius: 5px;
        text-align: center;
    }

    .glow{
        background-image: none;
        background-color: var(--tertiary-color);
        border-radius: 5px;
        text-align: center;
    }

    .features-section-two{
        grid-template-columns: 1fr;
    }

    .navigation-links{
        display: none
    }

    .feature-card-paragraph{
        font-size: 1.4rem;
    }

    .bottom-navigation-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: var(--secondary-color);
        padding: 1.5rem 0px;
        gap: 3.5rem;
        border-top: 2px solid var(--primary-color);
    }

    .navigation-icons{
        width: 3rem;
    }

    .navigation-text{
        font-size: 1.1rem;
        color: var(--primary-color);
        font-weight: 400;
        margin-bottom: 0px;
    }

}

@media (max-width: 24rem ){
    .feature-card-paragraph{
        font-size: 1.1rem;
    }

    footer{
        padding: 10rem 5rem;
    }

    .footer-navigation-links{
        gap: .7rem
    }

    .paragraph{
        font-size: 1.5rem;
    }
}
/* 
@media (max-width: 25rem){
    html{
        font-size: 53%;
    }

    .heroe-paragraph{
        font-size: 1.5rem;
    }

    h1{
        color: var(--secondary-color);
        font-size: 7rem;
        line-height: 6rem;
    }

    .heroe-section{
        text-align: center;
        padding: 7rem 1rem;
        background-image: none;
    }
} */












/* FOOTER SECTION */

